<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindcasts</title>
    <script src="https://kit.fontawesome.com/13437b109b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper" style='width:95%; table-layout: fixed; background: #fff; padding-bottom:60px; font-family: "Plus Jakarta Sans", sans-serif; border: 10px solid #d7bdfb'>
        <table class="main" width="100%">
            <tr>
                <td>
                    <table width=100% class=sub-main>
                        <tr>
                            <td>
                                <a>
                                    <div style='padding: 1rem; background: ##EBDFFD;'>
                                        <img
                                            style='width: 7rem; display: block; margin: 0 auto'
                                            src='https://res.cloudinary.com/da1mxvbx2/image/upload/v1708594588/simplecv/mindcast2024-02-22T09:36:28.068388.jpg'
                                            alt=''
                                        />
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width=100% style="padding: 0 9px">
                                    <tr>
                                        <td>
                                            <p style='margin:2rem 0; font-weight: 600; color: #292929; line-height: 1.5rem; text-align: center;'>Hello {{name}},
                                                <p style='margin:2rem 0; font-size:14px; color: #292929; line-height: 1.5rem; text-align: center;'>
                                                    <span>{{body}}</span>
                                                </p> 
                                                 <p style='margin:2rem 0; color: #292929; line-height: 1.5rem; text-align: center;'>
                                                    <span>Here is your 2FA verification code.</span>
                                                </p> 
                                                <p style='margin:0rem 0; color: #292929; line-height: 1.5rem; font-size: 35px; text-align: center;'>
                                                  
                                                    <span><b>{{code}}</b></span>
                                                </p> 
                                                <p style='margin:2rem 0; color: #292929; line-height: 1.5rem; text-align: center;'>
                                                    <span>Regards,</span>
                                                    <span><b>Mindcasts Team</b></span>
                                                </p>
                                                <hr
                                                    style='border: none; border-bottom: 0.6px solid #FFF7E6'
                                                />
                                                

                                                <p style='color: #666666; text-align: center; text-decoration: none; font-size: 14px; margin: 2rem 0 0 0'><a href="https://mindcasts.life/">www.mindcasts.life</a></p>
                                                <p style='color: #666666; text-align: center; font-size: 14px;'>support@mindcasts.life</p> 
                                                
                                                 <p style='color: #666666; text-align: center; font-size: 14px; margin: 2rem 0 0 0'>© 2025  UXWEDESIGN Ltd. All rights reserved.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>